h2 {
    color : gris;
    fuente-peso : negrita;
   
    sombra de texto :  1 px  2 px  3 px negro;
    alineación de texto : centro;
}
pag {
    alineación de texto : centro;
    tamaño de fuente : grande;
    texto-decoración : ondulado;
    color : marrón;
    fuente-peso : negrita;
}