

h1{
  text-align: center;
  color: crimson;
  font-size: larger;
  font-weight: bold;
    }

h2{
    text-align: left;
    color: rgb(20, 33, 220);
    font-size: larger;
    font-weight: bold;
}










